
<ba-card title="Pitch Layout" baCardClass="with-scroll">
    <!--<div class="form-control form-control-rounded" style="width:100%; height:200px; border:2px solid #384f49;background-color:#44635c">                
    </div>-->

    <div class="surface">
        <div class="pitch">
            <div class="half">
                <div class="penalty">
                    <div class="goal"><button id="b-lgoalkeeper" class="btn btn-default"><span class=ion-plus-round></span></button> </div>
                    <div class="center">                        
                    </div>
                </div><!-- penalty -->
                <div class="row">
                    <div class="col-sm-4">
                        <button id="b-ldefender1" class="btn btn-default" style="top:5%; position:absolute; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-ldefender2" class="btn btn-default" style="top: calc(35% - 25px); position:absolute; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-ldefender3" class="btn btn-default" style="top: calc(65% - 25px); position:absolute; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-ldefender4" class="btn btn-default" style="top: calc(95% - 50px); position:absolute; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                    </div>
                    <div class="col-sm-4">
                        <button id="b-lmidfielder1" class="btn btn-default" style="top: 15%; z-index: 10; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-lmidfielder2" class="btn btn-default" style="top: 35%; z-index: 10; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-lmidfielder3" class="btn btn-default" style="top: 55%; z-index: 10; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                    </div>
                    <div class="col-sm-4">
                        <button id="b-lforward1" class="btn btn-default" style="top: 15%; z-index: 10; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-lforward2" class="btn btn-default" style="top: 35%; z-index: 10; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-lforward3" class="btn btn-default" style="top: 55%; z-index: 10; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                    </div>
                </div><!-- row -->     
            </div><!-- half -->
            
            

            <div class="half">
                <div class="penalty">
                    <div class="goal"><button class="btn btn-default"><span class=ion-plus-round></span></button></div>
                    <div class="center"></div>
                </div><!-- penalty -->

                <div class="row">
                    <div class="col-sm-4">
                        <button id="b-rdefender1" class="btn btn-default" style="top:5%; right:15px; position:absolute; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-rdefender2" class="btn btn-default" style="top: calc(35% - 25px); right:15px; position:absolute; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-rdefender3" class="btn btn-default" style="top: calc(65% - 25px); right:15px; position:absolute; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-rdefender4" class="btn btn-default" style="top: calc(95% - 50px); right:15px; position:absolute; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                    </div>
                    <div class="col-sm-4">
                        <button id="b-rmidfielder1" class="btn btn-default" style="top: 15%; z-index: 10; right:-25px; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-rmidfielder2" class="btn btn-default" style="top: 35%; z-index: 10; right:-25px; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-rmidfielder3" class="btn btn-default" style="top: 55%; z-index: 10; right:-25px; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                    </div>
                    <div class="col-sm-4">
                        <button id="b-rforward1" class="btn btn-default" style="top: 15%; z-index: 10; right:-25px; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-rforward2" class="btn btn-default" style="top: 35%; z-index: 10; right:-25px; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                        <button id="b-rforward3" class="btn btn-default" style="top: 55%; z-index: 10; right:-25px; position:relative; width:50px; height:50px;"><span class=ion-plus-round></span></button>
                    </div>
                </div><!-- row -->    

            </div><!-- half -->

            <div class="center"></div>

        </div><!-- pitch -->
    </div><!-- surface -->
</ba-card>