<div class="widgets">
  <div class="row">
    <div class="col-sm-4">
        <ba-card title="Search for a Pitch" class="football-pitches">          
          <div *ngIf="pitches">
            <input #searchBox id="search-box" [(ngModel)]="searchInput" placeholder="Search for pitch name"/>
            <button class="btn btn-default" style="width: 100%;white-space: normal;"
                    *ngFor="let pitch of pitches | name-search:searchInput"
                    (click)="selectPitch(pitch)"
                    [class.active]="pitch === activePitch">                    
                    <div>{{pitch.name}}</div> 
            </button>
            <br>
          </div>   
        </ba-card>     
    </div>
    <div class="col-sm-8">
      <div>
        <input #pitchAddress />
        <button (click)="search(pitchAddress.value)">
          Search Address
        </button>
      </div>
      <div *ngIf="activePitch">
        <ba-card title="Pitch Address" class="football-pitches">
          <div class="">
            {{activePitch.address}}
            </div>
          <div #googlemap class="google-maps-pitch"></div>
        </ba-card>
      </div>
    </div>
  </div>
</div>